:root {
    --color-1: #A57321;
    --color-2: #84CEFF;
    --color-3: #F77BC6;
    --color-4: #EF9C42;
    --color-5: #A81828;
    --color-6: #C6C600;
    --color-7: #52C66B;
    --color-8: #6B6BDE;
}
