@namespace MonopolyPaperMario.Components.Game.Board

<div class="board">
    <div class="board-center"></div>
    <div class="street" id="street-1">
        <div> <StreetTile Title="Goomba Village" Color="var(--color-1)" Cost="60" HousingLevel="1" /> </div>
        <div> <StreetTile Title="Baú Comunitário" /> </div>
        <div> <StreetTile Title="Koopa Village" Color="var(--color-1)" Cost="60" HousingLevel="2" /> </div>
        <div> <StreetTile Title="Taxa" Cost="200" /> </div>
        <div> <StreetTile Title="Trem" Cost="200" /> </div>
        <div> <StreetTile Title="Mt Rugged" Color="var(--color-2)" Cost="100" HousingLevel="5" /> </div>
        <div> <StreetTile Title="Sorte ou Revés" /> </div>
        <div> <StreetTile Title="Dry Dry Outpost" Color="var(--color-2)" Cost="100" HousingLevel="3" /> </div>
        <div> <StreetTile Title="Dry Dry Ruins" Color="var(--color-2)" Cost="120" /> </div>
    </div>
    <div class="corner" id="corner-1-2"></div>
    <div class="street" id="street-2">
        <div> <StreetTile Rotation="3" Title="Boo's Mansion" Color="var(--color-3)" Cost="140" /> </div>
        <div> <StreetTile Rotation="3" Title="Companhia Elétrica" Cost="150" /> </div>
        <div> <StreetTile Rotation="3" Title="Gusty Gulch" Color="var(--color-3)" Cost="140" /> </div>
        <div> <StreetTile Rotation="3" Title="Tubba Blubba's Castle" Color="var(--color-3)" Cost="160" /> </div>
        <div> <StreetTile Rotation="3" Title="Trem" Cost="200" /> </div>
        <div> <StreetTile Rotation="3" Title="Toad Town Tunnels" Color="var(--color-4)" Cost="180" /> </div>
        <div> <StreetTile Rotation="3" Title="Baú Comunitário" /> </div>
        <div> <StreetTile Rotation="3" Title="Shooting Star Summit" Color="var(--color-4)" Cost="180" /> </div>
        <div> <StreetTile Rotation="3" Title="Shy Guy's Toybox" Color="var(--color-4)" Cost="200" /> </div>
    </div>
    <div class="corner" id="corner-2-3"></div>
    <div class="street" id="street-3">
        <div> <StreetTile Rotation="2" Title="Yoshi's Village" Color="var(--color-5)" Cost="220" /> </div>
        <div> <StreetTile Rotation="2" Title="Sorte ou Revés" /> </div>
        <div> <StreetTile Rotation="2" Title="Jade Jungle" Color="var(--color-5)" Cost="220" /> </div>
        <div> <StreetTile Rotation="2" Title="Mt Lavalava" Color="var(--color-5)" Cost="240" /> </div>
        <div> <StreetTile Rotation="2" Title="Trem" Cost="200" /> </div>
        <div> <StreetTile Rotation="2" Title="Flower Fields" Color="var(--color-6)" Cost="260" /> </div>
        <div> <StreetTile Rotation="2" Title="Sun Tower" Color="var(--color-7)" Cost="260" /> </div>
        <div> <StreetTile Rotation="2" Title="Companhia de Água" Cost="150" /> </div>
        <div> <StreetTile Rotation="2" Title="Cloudy Climb" Color="var(--color-7)" Cost="280" /> </div>
    </div>
    <div class="corner" id="corner-3-4"></div>
    <div class="street" id="street-4">
        <div> <StreetTile Rotation="1" Title="Casa do Mario" Color="red" Cost="123" /> </div>
        <div> <StreetTile Rotation="1" Title="Casa do Mario" Color="blue" Cost="456" /> </div>
        <div> <StreetTile Rotation="1" Title="Casa do Mario" Color="yellow" Cost="789" /> </div>
        <div> <StreetTile Rotation="1" Title="Casa do Mario" Color="green" Cost="000" /> </div>
        <div> <StreetTile Rotation="1" Title="Casa do Mario" Color="purple" Cost="666" /> </div>
        <div> <StreetTile Rotation="1" Title="Casa do Mario" Color="pink" Cost="314" /> </div>
        <div> <StreetTile Rotation="1" Title="Casa do Mario" Color="gray" Cost="217" /> </div>
        <div> <StreetTile Rotation="1" Title="Casa do Mario" Color="brown" Cost="111" /> </div>
        <div> <StreetTile Rotation="1" Title="Casa do Mario" Color="orange" Cost="999" /> </div>
    </div>
    <div class="corner" id="corner-4-1"></div>
</div>

@code {

}
