@namespace MonopolyPaperMario.Components.Game.PlayerUI
@using MonopolyPaperMario.Components.Game.PropertyCard

<div class="w-25 h-100 d-flex flex-column align-items-center justify-content-center gap-2">
    <PropertyCard>
        <TitleDeedCardContent PropertyName="Parada do Mario"
                              Rents="new int[] { 2, 10, 30, 90, 160, 250 }"
                              MortgageValue="10"
                              HouseCost="50"
                              HotelCost="50" />
    </PropertyCard>

    @* <div class="container">
        <div class="row mb-2">
            <div class="col-6">
                <button class="btn btn-primary w-100 btn-casa">Comprar Casa</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary w-100 btn-hotel">Comprar Hotel</button>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-6">
                <button class="btn btn-primary w-100 btn-hipotecar">Hipotecar</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary w-100 btn-deshipotecar">Deshipotecar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary w-100 btn-leilao">Fazer Leilão</button>
            </div>
        </div>
    </div> *@
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
