@namespace MonopolyPaperMario.Components.Game.CardVisualizer

<div class="container">
    <div class="row g-3 mb-3">
        <div class="col-6">
            <button class="btn btn-primary w-100">Comprar Casa</button>
        </div>
        <div class="col-6">
            <button class="btn btn-success w-100">Comprar Hotel</button>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-6">
            <button class="btn btn-danger btn-hipotecar w-100">Hipotecar</button>
        </div>
        <div class="col-6">
            <button class="btn btn-warning btn-deshipotecar w-100">Deshipotecar</button>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <button class="btn btn-secondary w-100">Fazer Leilão</button>
        </div>
    </div>
</div>

@code {

}
