@using MonopolyPaperMario.Components.Game.PropertyCard
@using MonopolyPaperMario.Components.Stores;

@namespace MonopolyPaperMario.Components.Game.PlayerUI

<div class="w-25 h-100 d-flex flex-column align-items-center justify-content-center gap-2">
    @switch (cardVisualizerStore.CurrentCardType)
    {
        case CardType.TitleDeed:
            {
                <PropertyCard>
                    <TitleDeedCardContent PropertyName=@(cardVisualizerStore.Imovel?.Nome)
                                          Color=@(cardVisualizerStore.Imovel?.Cor != null ? (int)cardVisualizerStore.Imovel.Cor : -1)
                                          Rents=@(cardVisualizerStore.Imovel?.Alugueis)
                                          MortgageValue=@(cardVisualizerStore.Imovel?.ValorHipoteca ?? -1)
                                          HouseCost=@(cardVisualizerStore.Imovel?.PrecoComprarCasa ?? -1)
                                          HotelCost=@(cardVisualizerStore.Imovel?.PrecoVenderCasa ?? -1) />
                </PropertyCard>
                break;
            }
        case CardType.Company:
        case CardType.TrainStation:
        default:
            {
                <p>Not yet implemented.</p>
                break;
            }
    }

    @* <div class="container">
        <div class="row mb-2">
            <div class="col-6">
                <button class="btn btn-primary w-100 btn-casa">Comprar Casa</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary w-100 btn-hotel">Comprar Hotel</button>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-6">
                <button class="btn btn-primary w-100 btn-hipotecar">Hipotecar</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary w-100 btn-deshipotecar">Deshipotecar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary w-100 btn-leilao">Fazer Leilão</button>
            </div>
        </div>
    </div> *@
</div>

@code {
    private CardVisualizerStore cardVisualizerStore = CardVisualizerStore.Instance;

    protected override void OnInitialized()
    {
        cardVisualizerStore.OnStateChanged += StateHasChanged;
    }
}
