@namespace MonopolyPaperMario.Components.Game.PlayerUI

<div class="w-25 h-100 d-flex flex-column align-items-center justify-content-center gap-2">
    <div class="container flex-column align-items-center">
        <h2>HISTÓRICO DE JOGADAS</h2>
        <div class="container w-100 d-flex flex-column justify-content-center">
            <span>m1</span>
            <span>m2</span>
            <span>m3</span>
            <span>m4</span>
            <span>m5</span>
        </div>
    </div>
    <div>
        <h2>VEZ DO JOGADOR 1</h2>
    </div>
</div>

@code {

}
