.player-ui {
    height: 90%;
    background-color: lavender;
}

.previous-plays-content {
    height: 80%;
}

.previous-plays {
    height: 40%;
}

.player-bar {
    display: flex;
    gap: 8px;
}

.player-bar > div {
    width: 48px;
    height: 48px;
    border: 4px solid black;
}

.bar-current-player {
    border: 4px solid red !important;
}

.falido > img {
    filter: grayscale(100%);
}

.player-bar > div > img {
    width: 100%;
    height: 100%;
}

.current-player {
    height: 30%;
    width: 90%;
    position: relative;
}

.current-player > img {
    position: absolute;
    width: 128px;
    height: 128px;
    left: 50%;
    transform: translate(-50%, 0);
}

.current-player-offset {
    height: 40%;
}

.current-player-ui {
    background-color: aliceblue;
    height: 60%;
}

.dice {
    width: 36px;
    height: 36px;
}
