@namespace MonopolyPaperMario.Components.Game.PropertyCard

<div class="property-card">
    <div class="property-card-border">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
}
