@namespace MonopolyPaperMario.Components.Game.Board

<div class="tile rotated-@(((90 * Rotation) % 360 + 360) % 360)">
    @if (!string.IsNullOrEmpty(Color))
    {
        <div class="tile-color" style="background-color:@Color">
            @if (HousingLevel is not null && HousingLevel.Value >= 0 && HousingLevel.Value < PathByHousingLevel.Length)
            {
                <img class="housing-marker" src="@PathByHousingLevel[HousingLevel.Value]" />
            }
        </div>
    }

    <div class="tile-content">
        @if (!string.IsNullOrEmpty(Title))
        {
            <h3 class="tile-title">@Title</h3>
        }

        @ChildContent

        @if (Cost is not null)
        {
            <span class="tile-cost">★@Cost</span>
        }
    </div>
</div>

@code {
    private static readonly string[] PathByHousingLevel =
    {
        "assets/housing-markers/1.png",
        "assets/housing-markers/2.png",
        "assets/housing-markers/3.png",
        "assets/housing-markers/4.png",
        "assets/housing-markers/5.png",
    };

    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Color { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public int? Cost { get; set; }
    [Parameter] public int? HousingLevel { get; set; }
    [Parameter] public int Rotation { get; set; } = 0;
}