h1 {
    font-size: 32px;
    color: white;
}

h1 {
    font-size: 14px;
    color: white;
}

div {
    font-size: 24px;
}

.title-deed-body-title {
    border-radius: 6px;
}

.title-deed-body {
    padding: 16px;
}
