.tile {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2px;
    font-family: sans-serif;
    text-align: center;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: space-between;
}

.rotated-0, .rotated-0 * {
    flex-direction: column;
}
.rotated-90, .rotated-90 * {
    flex-direction: row;
}
.rotated-180, .rotated-180 * {
    flex-direction: column-reverse;
}
.rotated-270, .rotated-270 * {
    flex-direction: row-reverse;
}

.tile-color {
    width: 100%;
    height: 20px;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotated-90 .tile-color, .rotated-270 .tile-color {
    width: 20px;
    height: 100%;
}

.rotated-90 .tile-color {
    border-left: 1px solid black;
    border-right: 2px solid black;
}

.rotated-180 .tile-color {
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}

.rotated-270 .tile-color {
    border-right: 1px solid black;
    border-left: 2px solid black;
}

.tile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.rotated-90 .tile-content, .rotated-270 .tile-content {
    height: 100%;
}

.rotated-90 .tile-title, .rotated-270 .tile-title {
    height: 100%;
}
.tile-title {
    font-size: 10px;
    margin: 0;
}

.rotated-90 span, .rotated-90 h1, .rotated-270 span, .rotated-270 h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
}
.rotated-90 span, .rotated-90 h1 {
    transform: rotate(180deg);
}

.tile-cost {
    font-size: 12px;
    text-align: center;
}

.tile-image {
    max-width: 50px;
    max-height: 50px;
}
