.tile {
    width: 100%;
    height: 100%;
    position: relative;
}

.characters {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-pawn-img-wrapper {
    width: 12px;
    height: 12px;
}

.character-pawn {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 24px;
    object-fit: contain;
    transition: all 0.3s ease;
    pointer-events: auto;
}
