@namespace MonopolyPaperMario.Components.Game.Boards
@using MonopolyPaperMario.Components.Stores

<div class="tile">
    @ChildContent

    <div class="characters">
        @for (int i = 0; i < DisplayCharacters.Length; i++)
        {
            if (DisplayCharacters[i])
            {
                <div class="character-pawn-img-wrapper">

                    <img src="@spriteStore.GetSpritePath(i)"
                         class="character-pawn" />
                </div>
            }
        }
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool Horizontal { get; set; } = true;
    [Parameter] public int StreetSize { get; set; } = 1;
    [Parameter] public bool[] DisplayCharacters { get; set; } = { false, false, false, false, false, false };

    private CharacterSpriteStore spriteStore = CharacterSpriteStore.GetInstance();
}
